<!-- /src/app/components/old-address/old-province/old-province-input.component.html -->
<mat-form-field class="w-full" appearance="outline" class="address-field">
    <mat-label>Huyện (cũ)</mat-label>
    <input type="text" placeholder="Chọn Huyện" aria-label="Huyện" matInput [formControl]="districtsControl"
        [matAutocomplete]="auto" />
    @if(districtsControl.value){
    <button mat-icon-button matSuffix aria-label="Clear" (click)="clearSelection()">
        <mat-icon>close</mat-icon>
    </button>
    }
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option.value)"
        [displayWith]="displayFn">
        @for (district of filteredDistricts; track district.oldProvinceID) {
        <mat-option [value]="district">
            {{ district.oldDistrictName }}
        </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>