<!-- // src/app/components/old-address/old-address-input.component.html -->
<div class="old-address-input">
  <app-old-province-input [provinces]="provinces" (provinceSelected)="onProvinceSelected($event)"
    [provincesControl]="provincesControl" (clearClicked)="provinceCleared.emit()"></app-old-province-input>

  <app-old-district-input [districts]="districts" (districtSelected)="onDistrictSelected($event)"
    [districtsControl]="districtsControl" (clearClicked)="districtCleared.emit()"></app-old-district-input>

  <app-old-ward-input [wards]="wards" (wardSelected)="onWardSelected($event)"
    [wardsControl]="wardsControl" (clearClicked)="wardSelected.emit()"></app-old-ward-input>
</div>