<!-- //src/app/components/address-mapping/address-mapping.component.html -->
<div class="container">
  <!-- src/app/components/address-mapping/address-mapping.component.html -->
  <div class="address-mapping">
    <!-- Địa chỉ cũ -->
    <div class="old-address">
      <h3>Địa chỉ cũ</h3>
      <app-old-address-input
        [provinces]="listOldProvince"
        [provinceControl]="oldProvinceControl"
        (provinceCleared)="onOldProvinceCleared()"
        (provinceSelected)="onOldProvinceSelected($event)"
          
        [districts]="listOldDistrict"
        [districtControl]="oldDistrictControl"
        (districtCleared)="onOldDistrictCleared()"
        (districtSelected)="onOldDistrictSelected($event)"

        [wards]="listOldWard"
        [wardControl]="oldWardControl"
        (wardCleared)="onOldWardCleared()"
        (wardSelected)="onOldWardSelected($event)"
    ></app-old-address-input>


    <!-- Địa chỉ mới -->
    <div class="new-address">
      <h3>Địa chỉ mới</h3>
      <app-new-address-input
        [provinces]="listNewProvince"
        [provinceControl]="newProvinceControl"
        (provinceCleared)="onNewProvinceCleared()"
        (provinceSelected)="onNewProvinceSelected($event)"
          
        [wards]="listNewWard"
        [wardControl]="newWardControl"
        (wardCleared)="onNewWardCleared()"
        (wardSelected)="onNewWardSelected($event)"
      ></app-new-address-input>

    </div>

  </div>
</div>