.container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  min-height     : 100vh; /* toàn màn hình dọc */
}

.address-mapping {
  min-width: 180px;
  width: 50%;
  margin: auto;
  padding         : 24px;
  background-color: #f5f7fa;
  text-align      : center;
  border-radius   : 12px;
  box-shadow      : 0 4px 10px rgba(0, 0, 0, 0.05);
  animation       : fadeIn 0.4s ease-in-out;
}

.old-address {
  margin-bottom: 30px;
}

.old-address,
.new-address {
  flex            : 1 1 300px;
  min-width       : 300px;
  padding         : 16px;
  background-color: white;
  border-radius   : 12px;
  box-shadow      : 0 2px 8px rgba(0, 0, 0, 0.05);
  transition      : transform 0.3s ease, box-shadow 0.3s ease;
}

.old-address:hover,
.new-address:hover {
  transform : translateY(-1px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  display      : block;
  width        : 100%;
  margin-bottom: 16px;
}

h3 {
  margin-top : 0;
  font-size  : 20px;
  font-weight: 600;
  color      : #333;
}

@keyframes fadeIn {
  from {
    opacity  : 0;
    transform: translateY(100px);
  }

  to {
    opacity  : 1;
    transform: translateY(0);
  }
}