<!-- /src/app/components/old-address/old-province/old-province-input.component.html -->
<mat-form-field class="w-full" appearance="outline" class="address-field">
    <mat-label>Phường/ Xã (mới)</mat-label>
    <input type="text" placeholder="Chọn Phường/ Xã " aria-label="Phường/ Xã" matInput [formControl]="wardControl"
        [matAutocomplete]="auto" />
    @if(wardControl.value){
    <button mat-icon-button matSuffix aria-label="Clear" (click)="clearSelection()">
        <mat-icon>close</mat-icon>
    </button>
    }
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option.value)"
        [displayWith]="displayFn">
        @for (district of filteredWards; track district.newWardID) {
        <mat-option [value]="district">
            {{ district.newWardName }}
        </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>